*.bridgesupport
*.gem
*.rbc
.dat*
.repl_history
.rspec_status
.rvmrc
/.bundle/
/.config
/.yardoc
/.yardoc/
/Gemfile.lock
/_yardoc/
/coverage/
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
**/coverage
**/.rspec_status
**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/CMakeFiles/
**/Makefile
**/*.cbp
**/*.a
/cpp/test/src/equilibrium/equilibriumTests
/cpp/test/src/morse/morseTest
/cpp/src/algos
/cpp/algos
/cpp/test/tests
